
<div style="position: relative;height: 100%;">
  <div #parent fxLayout="column">
    <div *ngFor="let slide of slides ;let i=index" class="slidee" fxFlex fxFlexOffset="20px" [style.flex-direction]="(i%2==1)?'row-reverse':'row'">
      <div *ngFor="let slideShow of slide;let j=index" fxLayout="column" fxFlex fxLayoutAlign="center center">
        <img [src]="slideShow.url">
        <div fxLayoutAlign="center center" #point class="point">
          <span>*</span>
        </div>
      </div>
    </div>
  </div>
  <svg width="width" height="height" #svg style="position:absolute;left:0;top:0" xmlns="http://www.w3.org/2000/svg">
  </svg>
</div>

